body{
  background-color: black;
  font-family: verdana;
  color: white;
  text-align: center;
}

h1{
  font-weight: normal;
  font-size: 50px;
}

.link{
  color: Aquamarine;
  font-size: 16px;
}

h2{
  font-weight: 300;
  font-size: 42px;
}

#info{
  color: gray;
  font-size: 21px;
}

#footer{
  text-align: right;
  color: gray;
}
